@font-face {
    font-family: "MC";
    src: url("../assets/fonts/MinecraftRegular-Bmg3.otf");
}

.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 2px rgb(20,20,20) solid;
    background-color: #E0E0E0;
    box-shadow: 0 0 5px rgba(20,20,20,0.75);
}

h3, ul, li{
    font-family: MC;
    font-size: clamp(0.3rem, 6vw, 1rem);
}

li{
    font-weight: 100;
}